In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import os
import pandas as pd

url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv'

df=pd.read_csv(url)

In [ ]:
df

                    John       Doe  ...   NJ  08075
0                   Jack  McGinnis  ...   PA   9119
1          John "Da Man"    Repici  ...   NJ   8075
2                Stephen     Tyler  ...   SD  91234
3                    NaN  Blankman  ...   SD    298
4  Joan "the bone", Anne       Jet  ...   CO    123

[5 rows x 6 columns]

In [ ]:
df.columns=['First Name','Last Name','Location','City','State','Area Code']
df

              First Name Last Name  ... State Area Code
0                   Jack  McGinnis  ...    PA      9119
1          John "Da Man"    Repici  ...    NJ      8075
2                Stephen     Tyler  ...    SD     91234
3                    NaN  Blankman  ...    SD       298
4  Joan "the bone", Anne       Jet  ...    CO       123

[5 rows x 6 columns]

In [ ]:
df=df[['First Name','City']]
df

              First Name         City
0                   Jack        Phila
1          John "Da Man"    Riverside
2                Stephen     SomeTown
3                    NaN     SomeTown
4  Joan "the bone", Anne  Desert City

In [ ]:
df.loc[[0,1,2]]

      First Name       City
0           Jack      Phila
1  John "Da Man"  Riverside
2        Stephen   SomeTown

In [ ]:
df

              First Name         City
0                   Jack        Phila
1          John "Da Man"    Riverside
2                Stephen     SomeTown
3                    NaN     SomeTown
4  Joan "the bone", Anne  Desert City

**Dataframes**

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import numpy as np

In [ ]:
df=pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

JSON **FILE**

In [ ]:
import json

Para trabajar con JSON Files en Python, primero hay que modificarlos a Python

In [ ]:
person = {
    'first_name' : 'Mark',
    'last_name' : 'abc',
    'age' : 27,
    'address': {
        "streetAddress": "21 2nd Street",
        "city": "New York",
        "state": "NY",
        "postalCode": "10021-3100"
    }
}

# Serializing json  
json_object = json.dumps(person, indent = 3) 
  
# Writing to sample.json 
with open("sample.json", "w") as outfile: 
    outfile.write(json_object) 

print(json_object)

{
   "first_name": "Mark",
   "last_name": "abc",
   "age": 27,
   "address": {
      "streetAddress": "21 2nd Street",
      "city": "New York",
      "state": "NY",
      "postalCode": "10021-3100"
   }
}

In [ ]:
# Opening JSON file 
with open('sample.json', 'r') as openfile: 
  
    # Reading from json file 
    json_object = json.load(openfile) 
  
print(json_object) 
print(type(json_object))

{'first_name': 'Mark', 'last_name': 'abc', 'age': 27, 'address': {'streetAddress': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postalCode': '10021-3100'}}
<class 'dict'>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Book1.xls to Book1.xls

In [ ]:
import io
df=pd.read_excel(io.BytesIO(uploaded['Book1.xls']))

In [ ]:
df

      John       Doe  120 jefferson st.  Riverside  NJ   8075
0     Jack  McGinnis       220 hobo Av.      Phila  PA   9119
1     John    Da Man  120 jefferson st.  Riverside  NJ    876
2  Stephen     Tyoer  7452 Terrace road   SomeTown  SD  91234

**XML FILES**

In [ ]:
import xml.etree.ElementTree as ET

#vamos a generar un arbol
employee=ET.Element('employee')
details=ET.SubElement(employee, 'details')
first=ET.SubElement(details, 'firstname')
second=ET.SubElement(details,'lastname')
third=ET.SubElement(details,'age')
first.text='Luciano'
second.text='Muratore'
third.text='31'

employee

In [ ]:
import xml.etree.ElementTree as etree

!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Sample-employee-XML-file.xml

--2021-04-14 21:35:35--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Sample-employee-XML-file.xml
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1016 [application/xml]
Saving to: ‘Sample-employee-XML-file.xml’

Sample-employee-XML 100%[===================>]    1016  --.-KB/s    in 0s

2021-04-14 21:35:35 (162 MB/s) - ‘Sample-employee-XML-file.xml’ saved [1016/1016]

In [ ]:
tree = etree.parse("Sample-employee-XML-file.xml")

root = tree.getroot()
columns = ["firstname", "lastname", "title", "division", "building","room"]

dataframe = pd.DataFrame(columns = columns)

for node in root: 

    firstname = node.find("firstname").text

    lastname = node.find("lastname").text 

    title = node.find("title").text 
    
    division = node.find("division").text 
    
    building = node.find("building").text
    
    room = node.find("room").text
    
    dataframe = dataframe.append(pd.Series([firstname, lastname, title, division, building, room], index = columns), ignore_index = True)

In [ ]:
dataframe

  firstname lastname      title  division building room
0      Shiv   Mishra   Engineer  Computer      301   11
1       Yuh    Datta  developer  Computer      303   02
2     Rahil     Khan     Tester  Computer      304   10
3      Deep   Parekh   Designer  Computer      305   14